.navbar {
  overflow: hidden;
  background-color: #393E40;
  font-family: Bebas Neue, sans-serif;
  font-size: 30pt;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 15px 50px;
  text-decoration: none;
  font-size: 30pt;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-family: Bebas Neue, sans-serif;
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 15px 50px;
  font-size: 28pt;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  background-color: rgb(251, 90, 56);
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  border-top: 2px solid rgb(251, 90, 56);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  color: rgb(25,114,120);
  z-index: 5;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: rgb(25,114,120);
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}


.imgA1 {
  z-index: 1;
  position: absolute;
  top: 25px;
  left: -100px;
}

header {
  background-color: #393E40;
}

img {
  height: auto;
  margin: auto;
}

input {
  display: flex;
  height: 20px;
  width: 300px;
  margin-top: 40px;
  justify-items: flex-start;
}

.active {
  background-color: rgb(251, 90, 56);
}

.nav-link {
  display: flex;
  font-family: Bebas Neue, sans-serif;
  padding: 10px 15px 10px 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 30pt;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  position: relative;
}

.nav-link:link {
  color: #ffffff;
  text-decoration: none;
}

.nav-link:visited {
  border-top: 2px solid rgb(251, 90, 56);
  color: #ffffff;
  text-decoration: none;
}

.nav-link:hover {
  border-top: 2px solid rgb(251, 90, 56);
  text-decoration: none;
}
.navbar {
  width: 100%;
}

.top-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 10%;
  padding: 10px;
  min-width: 400px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  color: #ffffff;
  margin: 0px 10%;
  padding: 10px;
  min-width: 400px;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

h1 {
  font-family: Bebas Neue, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  color: rgb(0,0,0);
  text-align: center;
  }
  
  .heroh1 {
    margin: 10px;
  }
  
  h2 {
  font-family: Bebas Neue, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 41px;
  color: rgb(25,114,120);
  }
  
  #testimonial_header {
    grid-area: testimonial_header;
  margin: auto;
  }
  
  .sub-headline {
  font-family: Bebas Neue, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: rgb(0,0,0);
  }
  
  .CTA {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 32pt;
    background-color: rgb(251,90,56);
    padding: 10px;
    color: white;
    font-weight: 500;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    border: none;
    text-decoration: none;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  body {
    font-family: Cormorant Garamond, Times New Roman, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    color: rgb(0,0,0);
    text-align: left;
    }
  
  #heroGrid {
    margin: 0px 10%;
    padding: 10px;
    display: grid;
    min-width: 400px;
    height: 200vh;
    grid-template-rows: 30% 5% 15% 5% 15% 5% 20%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "heroimage heroimage"
    "volunteer_img volunteer_header"
    "volunteer_img volunteer"
    "donate_header donate_img"
    "donate donate_img"
    "testimonial_header testimonial_header"
    "testimonial testimonial";
  }
  
  .heroGridArea {
    background-position: center;
    background-repeat: no-repeat;
    align-items: flex-start;
    justify-content: flex-start;
    background-size: cover;
    display: flex;
    position: relative;
    margin: 15px;
  }
  
  #headline {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 50px;
    padding: 15px;
    max-width: 450px;
    z-index: 2;
    align-items: center;
  }

  .quote {
    text-align: left;
    margin: 10px;
    padding: 5px;
    font-family: Cormorant Garamond, Times New Roman, serif;
    font-style: italic;
    font-weight: 500;
    font-size: 36px;
    color: rgb(25,114,120);
  }

  .author {
    font-family: Cormorant Garamond, Times New Roman, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    color: rgb(25,114,120);
    text-align: right;
  }

  .myslides {
    text-align: left;
    margin-bottom: 20px;
    padding: 15px;
    font-family: Cormorant Garamond, Times New Roman, serif;
    font-style: italic;
    font-weight: 500;
    font-size: 36px;
    color: rgb(25,114,120);
  }
  
  #heroimage {
    grid-area: heroimage;
    background-image: url("../images/prisoners.jpg");
    border-radius: 32pt;
    justify-content: space-around;
    text-align: center;
    z-index: 3;
  }

  #testimonial {
    grid-area: testimonial;
    background-color: #EDE5E0;
    box-shadow: 10px 10px 8px #888888;
    border-radius: 32pt;
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;
    margin-top: 0px;
  }
  
  #herotext {
    text-align: left;
    margin-bottom: 20px;
    padding: 15px;
  }
  
  #volunteer_img {
    grid-area: volunteer_img;
    background-image: url("../images/volunteer_2.PNG");
    border-radius: 32pt;
    justify-content: space-around;
    text-align: center;
  }
  
  #volunteer_header {
    grid-area: volunteer_header;
    text-align: left;
    align-items: flex-start;
  }
  
  #volunteer {
    grid-area: volunteer;
    justify-content: space-evenly;
    align-items: space-evenly;
    text-align: left;
    max-height: 300px;
    max-width: 100%;
  }
  
  #donate_header {
    grid-area: donate_header;
    text-align: right;
    align-items: flex-start;
  }
  
  #donate {
    grid-area: donate;
    justify-content: space-evenly;
    text-align: left;
  }
  
  #donate_img {
    grid-area: donate_img;
    background-image: url("../images/donatefunds.jpg");
    border-radius: 32pt;
    justify-content: space-around;
    text-align: center;
    position: relative;
  }

  #toggle {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 32pt;
    text-align: center;
    background-color: rgb(251,90,56);
    padding: 20px;
    color: white;
    font-weight: 500;
    width: 250px;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    justify-items: center;
    text-decoration: none;
  }

.nav {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 32pt;
    background-color: rgb(237,229,224);
    color: rgb(25,114,120);
    padding: 10px;
    font-weight: 500;
    margin: 0 auto;
    cursor: pointer;
    text-decoration: none;
  }

.dropdownButton {
  margin: 0 auto;
    text-decoration: none;
    color: rgb(25,114,120);
    transition-duration: .5s;
  }

.dropdownButton:hover {
    background-color: rgb(25,114,120);
    color: rgb(255, 255, 255);
    margin: 0 auto;
}

#dropDown {
    display: none;
    border: none;
    text-decoration: none;
  }

.nav a {
    color: rgb(25,114,120);
    text-decoration: none;
}

.nav a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 auto;
    width: 200px;
    padding: 0px;
}
  
ul {
    margin:0;
    padding: 0;
    list-style-type:none;
  }

li {
    margin:0;
    padding: 15px;
    }
  


    .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        float: center;
        padding: .5em 1em;
        text-decoration: none;
    }

    .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
      float: center;
      padding: .5em 1em;
      text-decoration: none;
  }
    .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button {
        text-decoration: none;
        font-family: Bebas Neue, sans-serif;
        font-size: 30pt;
        color: white;
        background-color: rgb(25,114,120);
        border-radius: 32pt;
    }

    #tabs a:hover {
      background-color: rgb(11, 69, 73);
    }
    
    .ui-tabs .ui-tabs-nav li {
        display: inline-block;
        list-style: none;
        float: center;
        top: 15;
        margin: 1px .2em 0 0;
        border-bottom-width: 0;
        padding: 15;
        border-radius: 32pt;
    }
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        border: 0;
        font-weight: normal;
        color: #ffffff;
    }

    li {
        text-align: -webkit-match-parent;
    }
    .ui-widget-header {
        border: 0;
        background: #EDE5E0;
        font-weight: bold;
    }
    .ui-helper-reset {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        line-height: 1.3;
        text-decoration: none;
        font-size: 100%;
        list-style: none;
    }

    ul {
        list-style-type: disc;
    }
    .ui-widget-content {
        display: inline-block;
        background:  #EDE5E0;
        color: #333333;
        padding: 15px;
        border-radius: 32pt;
    }
    .ui-widget {
        font-family: Arial,Helvetica,sans-serif;
        font-size: 1em;
    }

  @media only screen and (max-width: 1000px) {
    .top-container {
      display: inline-block;
      position: static;
      margin: 20px;
    }
    .container {
      display: inline-block;
      position: static;
      margin: 20px;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    #headline {
      position: static;
      margin: 20px;
    }
  
    #heroGrid {
      grid-template-rows: 15% 12% 15% 5% 10% 15% 5% 10% 5% 30%;
      grid-template-columns: 1fr;
      grid-template-areas:
      "heroimage"
      "heroimage"
      "volunteer_img"
      "volunteer_header"
      "volunteer"
      "donate_img"
      "donate_header"
      "donate"
      "testimonial_header"
      "testimonial";
    }
  }

  @media only screen and (max-width: 900px) {
    #headline {
      position: static;
      margin: 20px;
    }
  
    #heroGrid {
      grid-template-rows: 15% 12% 15% 5% 10% 15% 5% 10% 5% 30%;
      grid-template-columns: 1fr;
      grid-template-areas:
      "heroimage"
      "heroimage"
      "volunteer_img"
      "volunteer_header"
      "volunteer"
      "donate_img"
      "donate_header"
      "donate"
      "testimonial_header"
      "testimonial";
    }
  }

 @media only screen and (max-width: 800px) {
    #headline {
      position: static;
      margin: 20px;
    }
  
    #heroGrid {
      grid-template-rows: 15% 12% 15% 5% 10% 15% 5% 10% 10% 40%;
      grid-template-columns: 1fr;
      grid-template-areas:
      "heroimage"
      "heroimage"
      "volunteer_img"
      "volunteer_header"
      "volunteer"
      "donate_img"
      "donate_header"
      "donate"
      "testimonial_header"
      "testimonial";
    }
  }

  @media only screen and (max-width: 600px) {
    #headline {
      position: static;
      margin: 20px;
    }
  
    #heroGrid {
      grid-template-rows: 15% 12% 15% 5% 10% 15% 5% 10% 10% 45%;
      grid-template-columns: 1fr;
      grid-template-areas:
      "heroimage"
      "heroimage"
      "volunteer_img"
      "volunteer_header"
      "volunteer"
      "donate_img"
      "donate_header"
      "donate"
      "testimonial_header"
      "testimonial";
    }
  }